#nav-bar {
    background-color: #00a087;
    color: #e7fdff;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
   
}

#nav-bar .header {
    padding-left: 10px;
    float: left;
    font-size: 2em;
    line-height: 80px
}

.button-container {
    float: right;
} 
.compose-button{
    height: 60px;
    width: 120px;
    border: 1px solid black;  
    border-radius: 8px;
    background-color: #d7f2fb;
    color: GREEN;
    font-size: 1.2em;
    margin: 8px;
}

.fas .fa-edit {
    float:left
}
.container {
    width: 470px;
    text-align: center;
    background: white;
    margin: auto;
    margin-top: 80px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    height: auto
}